<p id="notice"><%= notice %></p>


 <h1 class="center"> <%= @comedy_club.name %></h1>
 <br>
 <%= @comedy_club.description %>
 <br>
  <%= @comedy_club.location %>

<br>

  <%= link_to @comedy_club.name, @comedy_club.website %>
<br>


