<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comedy_club.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @comedy_club.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comedy_club.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @comedy_club.website %>
</p>

<p>
  <strong> Shows </strong>
  <%= @comedy_club.shows %>
</p>

<%= link_to 'Edit', edit_comedy_club_path(@comedy_club) %> |
<%= link_to 'Back', comedy_clubs_path %>
<%= link_to 'Destroy', act, method: :delete, data: { confirm: 'Are you sure?' } %>
