<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comedian.name  %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @comedian.bio %>
</p>

<p>
  <strong>Youtube url:</strong>
  <iframe width="560" height="315" src="//www.youtube.com/embed/bMzqiGG5Udg" frameborder="0" allowfullscreen></iframe>
</p>



<%= link_to 'Edit', edit_comedian_path(@comedian) %> |
<%= link_to 'Back', comedians_path %>
