<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comedian.name  %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @comedian.bio %>
</p>

<p>
  <strong>Youtube url:</strong>
  <%= content_tag(@comedian.youtube_embed @comedian.youtube_url) %>
</p>



<%= link_to 'Edit', edit_comedian_path(@comedian) %> |
<%= link_to 'Back', comedians_path %>
