<% t=Time.new %>
<h2 class="center" style="color:blue"><u><%= t.strftime("%A, %B %e") %></u></h2>

<% @clubs.each do |club| %>
  <!-- # <%  club.shows.future.present? %> -->
  <h2><%= club.name %> </h2>

  <% club.shows.future.each do |show| %>
 <h4> <u> <%= show.title %> </u></h4>
  <h5><%= show.pretty_start_time %></h5>
  <% show.comedians.each do |comedian| %>
    <h5 class="comedian"><%= link_to simple_format(comedian.name), comedian_path(comedian) %></h5>

      <% end %>
    <% end %>
  <%- end -%>

