<div class ="banner">
  <p>Your one stop shop to see every comedian preforming in New York City!</p>
</div>

<% t=Time.new %>
  <h2 class="center" style="color:#F24C3D;"><%= t.strftime("%A, %B %e") %></h2>

  <section class="tile">
    <% @clubs.each do |club| %>
  <!-- # <%  club.shows.future.present? %> -->

    <h1 class="club"><%= club.name %> </h1>

  <% club.shows.future.order("start_time").each do |show| %>
    <h3 class="center"><%= show.pretty_start_time %></h3>
      <% show.comedians.each do |comedian| %>
    <div>
        <ol>
          <h4 class="comedian"><%= link_to simple_format(comedian.name),comedian_path(comedian) %></h4>
          <p class="bio"><u><%= comedian.bio %></u></p>
        </ol>
    </div>

  <% end %>
    <%= link_to '<button type="button" class="ticket">Make a Reservation</button>'.html_safe, club.website %>


    <% end %>
    </section>
  <%- end -%>

